<div class="course">

    <h2>{{course?.description}}</h2>

    <img class="course-thumbnail" [src]="course?.iconUrl">

    <mat-form-field>

        <input matInput placeholder="Search lessons" #input>

    </mat-form-field>

    <div class="spinner-container" *ngIf="dataSource.loading$ | async">

        <mat-spinner></mat-spinner>

    </div>

    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="seqNo" matSortDirection="asc"
        matSortDisableClear>

        <!-- <ng-container matColumnDef="seqNo">

            <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>

            <mat-cell *matCellDef="let lesson">{{lesson.seqNo}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="description">

            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>

            <mat-cell class="description-cell"
                      *matCellDef="let lesson">{{lesson.description}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="duration">

            <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>

            <mat-cell class="duration-cell"
                      *matCellDef="let lesson">{{lesson.duration}}</mat-cell>

        </ng-container> -->

        <ng-container *ngFor="let disCol of (dataSource.cols | async); let colIndex = index" 
            matColumnDef="{{disCol}}">

            <mat-header-cell *matHeaderCellDef>{{disCol}}</mat-header-cell>

            <mat-cell class="duration-cell" *matCellDef="let lesson">{{lesson[disCol]}}</mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="dataSource.cols | async"></mat-header-row>

        <mat-row *matRowDef="let row; columns: dataSource.cols | async"></mat-row>

    </mat-table>


    <input type="text" [(ngModel)]="inputVal">
    <button (click)="setPage(inputVal)">Go to Page</button>

    <mat-toolbar>
            <mat-toolbar-row>
          <div class="label gotoPage">Go to page:</div>
          
              <select [(ngModel)]="manualPage" (ngModelChange)="updateManualPage($event)">
                  <option [value]="1">1</option>
                  <option [value]="2">2</option>
                  <option [value]="3">3</option>
                  <option [value]="4">4</option>
                  <option [value]="5">5</option>
              </select>

              <span class="example-spacer"></span>
    <mat-paginator [length]="course?.lessonsCount" [pageSize]="3" 
        [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons> 
    </mat-paginator>
</mat-toolbar-row>
</mat-toolbar>

</div>